.jenkins-app-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}