.jenkins-app-bar {
  //position: sticky;
  //top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  z-index: 10;

  //&::before,
  //&::after {
  //  content: "";
  //  position: absolute;
  //  top: -60px;
  //  left: -30px;
  //  bottom: -30px;
  //  right: -30px;
  //  z-index: -1;
  //  pointer-events: none;
  //}
  //
  //&::before {
  //  background: var(--background-color);
  //  mask-image: linear-gradient(black, transparent);
  //  filter: blur(15px);
  //  opacity: 0.95;
  //}
  //
  //&::after {
  //  backdrop-filter: blur(15px);
  //  filter: blur(15px);
  //  mask-image: linear-gradient(black 50%, transparent);
  //}

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a, button {
      margin-left: 15px;
    }
  }
}

.rotating-title {
  position: relative;
  height: 0.925rem;
  margin: 0 0 0.6rem 0;

  p {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-weight: 600;
    font-size: 0.925rem;
    margin: 0;
    user-select: none;
    pointer-events: none;
    opacity: 0.6;
    width: 100%;
    white-space: nowrap;

    &:first-of-type {
      animation: rotate-title-1 0.5s both 4s;
    }

    &:last-of-type {
      font-family: "Georgia";
      font-weight: bold;
      animation: rotate-title-2 0.5s both 4s;
    }
  }
}

@keyframes rotate-title-1 {
  to {
    transform: translateY(-0.5rem);
    opacity: 0;
  }
}


@keyframes rotate-title-2 {
  from {
    transform: translateY(0.5rem);
    opacity: 0;
  }
}
