.jenkins-app-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  z-index: 10;

  @media screen and (max-width: 768px) {
    &--responsive, &:has(.app-search-bar) {
      margin-bottom: 1rem;
      align-items: stretch;
      flex-direction: column;
      gap: 1rem;

      .app-search-bar {
        width: 100%;
      }

      .jenkins-app-bar__controls {
        display: contents;
      }

      .jenkins-button {
        width: 100%;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    //@media screen and (max-width: 768px) {
    //  flex-direction: column;
    //
    //  .jenkins-button {
    //    width: 100%;
    //  }
    //}
  }
}

.rotating-title {
  position: relative;
  height: 0.925rem;
  margin: 0 0 0.75rem 0;

  p {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-weight: 600;
    font-size: 1.1rem;
    user-select: none;
    pointer-events: none;
    color: var(--color-secondary);
    width: 100%;
    white-space: nowrap;
    margin: 0;

    &:first-of-type {
      animation: rotate-title-1 0.5s both 4s;
    }

    &:last-of-type {
      font-family: "Georgia", serif;
      font-weight: 600;
      letter-spacing: unset !important;
      animation: rotate-title-2 0.5s both 4s;
    }
  }
}

@keyframes rotate-title-1 {
  to {
    transform: translateY(-0.5rem);
    opacity: 0;
  }
}


@keyframes rotate-title-2 {
  from {
    transform: translateY(0.5rem);
    opacity: 0;
  }
}
