.jenkins-build-history {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  gap: 1rem;
  margin: -0.5rem -1.2rem -1.2rem -1.2rem;
  max-height: 355px;
  padding-top: 0.5rem;

  &__item {
    position: relative;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    z-index: 0;
    padding: 0 1.2rem;
    gap: 0.5rem;

    &::before {
      content: "";
      position: absolute;
      inset: -0.5rem 0.5rem;
      background: var(--color-secondary);
      opacity: 0;
      transition: 0.3s ease;
      z-index: -1;
      border-radius: 10px;
    }

    &__link {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 1rem;
      text-decoration: none;
      color: var(--foreground-color);

      &__icon {
        position: relative;
        width: 1.5rem;
        height: 1.5rem;

        & > svg {
          width: 100%;
          height: 100%;
        }

        &__owner {
          position: absolute;
          display: flex;
          bottom: -3px;
          right: -3px;
          background: var(--background-color);
          border-radius: 100%;

          span[height="22px"] {
            display: contents;
          }

          span, svg {
            width: 0.8rem !important;
            height: 0.8rem !important;
          }
        }
      }

      &__details {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        &__build-number {
          color: var(--color-secondary);
          margin: 0;
          font-weight: 600;
          font-size: 0.85rem;
        }

        &__message {
          margin: 0;
          font-weight: 500;
          font-size: 0.9rem;
          line-height: 1.5;
        }
      }
    }

    .overflow-button {
      padding-inline: 0.4rem;
    }

    &:hover {
      &::before {
        opacity: 0.1;
      }
    }
  }
}
