.jenkins-button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 37px;
  background: var(--button-background-color);
  color: var(--button-foreground-color);
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  border: none;
  transition: 0.2s ease;
  font-size: 0.9333333333rem;
  font-weight: 500;
  margin: 0 !important;
  gap: 1ch;

  @media screen and (max-width: 768px) {
    height: 44px;
    min-width: 55px;
    padding: 0.8rem 1rem;
    gap: 0.5rem;
    border-radius: 1rem;
  }

  span:first-of-type {
    width: 1.2rem!important;
    height: 1.2rem!important;
  }

  svg {
    width: 1.2rem!important;
    height: 1.2rem!important;
    color: currentColor!important;
  }

  &--primary {
    background: var(--link-color);
    color: var(--background-color);
    font-weight: 550;
  }

  &:hover {
    background: var(--button-background-color-hover);
    color: var(--button-foreground-color-hover);
  }

  &:active {
    background: var(--button-background-color-active);
    color: var(--button-foreground-color-active);
  }

  &--icon {
    span {
      margin-right: 0;
    }
  }

  &--transparent {
    background: transparent !important;
  }

  &--orange {
    color: var(--orange);
  }

  &--green {
    background: var(--green-subtle);
    color: var(--green) !important;

    &:hover {
      background: rgba(#0ebb43, 0.24);
    }

    &:active {
      background: rgba(#0ebb43, 0.28);
    }

    &::after {
      opacity: 0.1;
    }
  }

  &--red {
    background: var(--red-subtle);
    color: var(--red) !important;

    &:hover {
      background: rgba(red, 0.22);
    }

    &:active {
      background: rgba(red, 0.28);
    }

    &::after {
      border-bottom: 2px solid red;
      opacity: 0.1;
    }
  }
}

.overflow-button {
  span:first-of-type, svg {
    width: 1.6rem !important;
    height: 1.6rem !important;
    margin: 0 -0.1rem;

    @media screen and (max-width: 768px) {
      width: 1.4666666667rem !important;
      height: 1.4666666667rem !important;
    }
  }
}
