.jenkins-button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 37px;
  background: var(--button-background-color);
  color: var(--button-foreground-color);
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  border: none;
  transition: 0.2s ease;
  font-size: 14px;

  @media screen and (max-width: 1000px) {
    height: unset;
    padding: 0.8rem 1rem;
    gap: 0.5rem;
    border-radius: 1rem;
  }

  span {
    width: 20px!important;
    height: 20px!important;
    margin-right: 6px;
  }

  svg {
    width: 20px!important;
    height: 20px!important;
    color: currentColor!important;
  }

  &--primary {
    background: var(--link-color);
    color: var(--background-color);
    font-weight: 550;
  }

  &:hover {
    background: var(--button-background-color-hover);
    color: var(--button-foreground-color-hover);
  }

  &:active {
    background: var(--button-background-color-active);
    color: var(--button-foreground-color-active);
  }

  &--icon {
    span {
      margin-right: 0;
    }
  }

  &--transparent {
    background: transparent !important;
  }

  &--orange {
    color: orange;
  }

  &--green {
    background: rgba(#0ebb43, 0.16);
    color: #0ebb43;

    &:hover {
      background: rgba(#0ebb43, 0.24);
      color: #0ebb43;
    }

    &:active {
      background: rgba(#0ebb43, 0.28);
      color: #0ebb43;
    }

    &::after {
      border-bottom: 2px solid #0ebb43;
      opacity: 0.1;
    }
  }

  &--red {
    background: rgba(red, 0.16);
    color: red;

    &:hover {
      background: rgba(red, 0.22);
      color: red;
    }

    &:active {
      background: rgba(red, 0.28);
      color: red;
    }

    &::after {
      border-bottom: 2px solid red;
      opacity: 0.1;
    }
  }
}
