.jenkins-cards {
  @media (max-width: 699px) {
    &__item {
      margin-bottom: var(--card-gap);
    }
  }

  @media (min-width: 700px) {
    display: grid;
    grid-gap: var(--card-gap);
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: 1700px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  &__item {
    position: relative;
    border-radius: 10px;
    padding: 20px;
    background: var(--card-background);
    overflow: hidden;
    box-shadow: 0 2px 0 rgba(black, 0.02);
    min-height: 400px;

    &:hover {
      .jenkins-cards__item__title__actions {
        opacity: 1;
      }
    }

    &--wide {
      grid-column: span 2;
    }
  }

  &__item__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 20px 0;
    padding: 0;
    font-weight: 600;
    font-size: 14px;

    a {
      margin-left: auto;

      svg {
        width: 18px;
        height: 18px;
        color: var(--foreground-color) !important;
      }
    }
  }

  &__item__title-float {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 20px 0 20px;
    backdrop-filter: blur(20px);
    z-index: 1;
    border-radius: 10px 10px 0 0;
  }
}

.jenkins-cards__item__title__actions {
  display: flex;
  align-items: center;
  gap: 15px;
  opacity: 0.5;
  transition: 0.3s ease;
}
