.jenkins-cards {
  @media (max-width: 699px) {
    &__item {
      margin-bottom: var(--card-gap);
    }
  }

  @media (min-width: 700px) {
    display: grid;
    grid-gap: var(--card-gap);
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: 1700px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  &__item {
    position: relative;
    padding: 1.2rem;
    background: var(--card-background);
    overflow: hidden;
    min-height: 400px;

    mask-border-source: url("data:image/svg+xml,%3Csvg width='45' height='45' viewBox='0 0 45 45' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 22.5C0 15.5109 0 12.0163 1.14181 9.25975C2.66422 5.58433 5.58433 2.66422 9.25975 1.14181C12.0163 0 15.5109 0 22.5 0C29.4891 0 32.9837 0 35.7402 1.14181C39.4157 2.66422 42.3358 5.58433 43.8582 9.25975C45 12.0163 45 15.5109 45 22.5C45 29.4891 45 32.9837 43.8582 35.7402C42.3358 39.4157 39.4157 42.3358 35.7402 43.8582C32.9837 45 29.4891 45 22.5 45C15.5109 45 12.0163 45 9.25975 43.8582C5.58433 42.3358 2.66422 39.4157 1.14181 35.7402C0 32.9837 0 29.4891 0 22.5Z' fill='%23D9D9D9'/%3E%3C/svg%3E%0A");
    mask-border-slice: 49% fill;

    @media (prefers-color-scheme: dark) {
      --button-background-color: hsl(230, 16%, 13%);
    }

    &:hover {
      .jenkins-cards__item__title__actions {
        a {
          color: var(--foreground-color);
        }
      }
    }

    &--wide {
      grid-column: span 2;
    }

    hr {
      margin: 0.4rem 0 calc(0.4rem + 15px) 0;
      opacity: 0.2;
      border: none;
      height: 2px;
      background: var(--color-secondary);
    }
  }

  &__item__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 1.2rem 0;
    padding: 0;
    font-weight: 600;
    font-size: 1rem;

    a {
      margin-left: auto;
      transition: 0.3s ease;

      span {
        display: contents;
      }

      svg {
        width: 1.2rem;
        height: 1.2rem;
        color: currentColor !important;
      }

      &:hover {
        opacity: 0.6;
      }

      &:active, &:focus {
        opacity: 0.3;
      }
    }
  }

  &__item__title-float {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 1.2rem 1.2rem 0 1.2rem;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      bottom: -1.2rem;
      backdrop-filter: blur(20px);
      z-index: -1;
      border-radius: 15px 15px 0 0;
      mask-image: linear-gradient(white 25%, transparent);
      pointer-events: none;
    }
  }
}

.jenkins-cards__item__title__actions {
  display: flex;
  align-items: center;
  gap: 15px;
  transition: 0.3s ease;

  a {
    color: var(--color-secondary);
  }
}
