.app-dropdown-menu {
  display: flex;
  flex-direction: column;

  a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.75rem;
    padding: 0.5rem 1.5rem 0.5rem 0.6rem;
    cursor: pointer;
    font-weight: 450;
    border-radius: 0.45rem;
    font-size: 0.9rem;
    min-width: 200px;

    span, svg {
      width: 1.2666666667rem;
      height: 1.2666666667rem;
      color: currentColor;
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: inherit;
      background: var(--color-secondary);
      opacity: 0;
      transition: 0.3s ease;
    }

    &:hover {
      &::before {
        opacity: 0.15;
      }
    }

    &:active,
    &:focus {
      &::before {
        opacity: 0.25;
      }
    }

    &.app-color-green {
      color: var(--green);

      &::before {
        background: currentColor;
      }
    }

    &.app-color-red {
      color: var(--red);

      &::before {
        background: currentColor;
      }
    }
  }

  hr {
    margin: 0.4rem -0.4rem;
    opacity: 0.2;
    border: none;
    height: 1px;
    background: var(--color-secondary);
  }

  @media screen and (max-width: 768px) {
    a {
      padding: 0.7rem 0.9rem;
      font-size: 1rem;
      font-weight: 500;
      gap: 1rem;
      min-width: 60vw;
      border-radius: 0.65rem;

      span, svg {
        width: 1.4666666667rem;
        height: 1.4666666667rem;
      }
    }

    hr {
      margin: 0.4rem -0.4rem;
    }
  }
}
