.jenkins-form-label {
  display: flex;
  align-items: center;
  font-weight: var(--form-label-font-weight);
  margin-top: 0;
  margin-bottom: 0.75rem;
  padding-inline-start: 0;
  padding-inline-end: 0;
}

.jenkins-form-description {
  display: block;
  // Tweaked margin so that it appears visually centred when placed next to `.jenkins-form-label`
  margin: -0.2rem 0 0.8rem;
  color: var(--color-secondary);
  line-height: 1.66;
}

.jenkins-form-item {
  max-width: var(--form-item-max-width);
  margin-bottom: var(--section-padding);

  // Workaround for float:right button controls
  // (eg Global Credentials' Verify Configuration button being hidden by the floating submit bar)
  &::after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }

  &--tight + .jenkins-form-item--tight {
    margin-top: -0.9rem;
  }

  &--small {
    max-width: var(--form-item-max-width--small);
  }

  &--medium {
    max-width: var(--form-item-max-width--medium);
  }
}
