.jenkins-search {
  position: relative;
  border: 2px solid var(--border-color);
  margin-bottom: 20px;
  border-radius: 6px;
  //background: rgba(black, 0.1);

  input {
    appearance: none;
    outline: none;
    border: none;
    font-size: 14px;
    padding: 8px 20px 8px 36px;
    background: transparent;
  }

  span {
    position: absolute;
    top: 7px;
    left: 9px;
    transform: scale(0.7);
    svg {
      color: currentColor;
    }
  }
}

.app-search-bar {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background: var(--button-background-color);
  height: 37px;

  input {
    appearance: none;
    outline: none;
    border: none;
    font-size: 14px;
    background: transparent;

    &::placeholder {
      color: var(--color-secondary);
    }
  }

  span {
    width: 37px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 1.1rem !important;
      height: 1.1rem !important;
      color: currentColor;
    }
  }
}
