.app-search-bar {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background: var(--button-background-color);

  input {
    appearance: none;
    outline: none;
    border: none;
    font-size: 14px;
    background: transparent;
    margin: 0;
    padding: 0 0.33rem 0 0;

    // Safari adds unwanted padding - let's remove it
    &::-webkit-search-decoration {
      -webkit-appearance: none;
    }

    &::placeholder {
      color: var(--color-secondary);
    }
  }

  span {
    width: 37px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 1.1rem !important;
      height: 1.1rem !important;
      color: var(--foreground-color);
    }

    @media screen and (max-width: 768px) {
      width: 44px;
      height: 44px;
      border-radius: 15px;
      font-size: 1rem;
    }
  }
}
