.jenkins-stageview {
  -webkit-border-horizontal-spacing: 0;
  -webkit-border-vertical-spacing: 0;

  th, td {
    padding: 0;
    border-collapse: collapse;
    min-width: 130px;
    width: 130px;
    max-width: 130px;
  }

  .jenkins-stageview__stages {
    th:first-of-type {
      text-align: right;
      vertical-align: bottom;
      padding: 10px;
      background: var(--background-color-overlay);
    }

    th {
      vertical-align: bottom;
      padding: 10px;

      p {
        margin: 0;
        text-align: center;
        text-transform: uppercase;
        font-size: 11px;
        letter-spacing: 2px;
        font-weight: 700;
        line-height: 16px;
      }

      p:last-of-type {
        margin-top: 8px;
        opacity: 0.6;
        font-size: 10px;
      }
    }
  }

  .jenkins-stageview__build {
    text-align: center;

    .jenkins-button {
      width: 100%;
      min-height: 60px;
      margin: 2px 0;
      font-size: 14px;
      font-weight: 600;
    }

    td {
      .jenkins-button {
        border-radius: 0;
      }
    }

    td:first-of-type {
      .jenkins-button {
        border-radius: 10px;
      }
    }

    td:nth-of-type(2) {
      padding-left: 2.5px;

      .jenkins-button {
        border-radius: 10px 0 0 10px;
      }
    }

    td:last-of-type {
      padding-right: 2.5px;

      .jenkins-button {
        border-radius: 0 10px 10px 0;
      }
    }
  }
}