.jenkins-stageview {
  -webkit-border-horizontal-spacing: 0;
  -webkit-border-vertical-spacing: 0;
  width: 100%;
  border-spacing: 0 2px;

  th, td {
    padding: 0;
    border-collapse: collapse;
    min-width: 130px;
    width: 130px;
  }

  .jenkins-stageview__stages {
    th:first-of-type {
      text-align: right;
      vertical-align: bottom;
      padding: 10px;
      background: var(--background-color-overlay);
    }

    th {
      vertical-align: bottom;
      padding: 10px;

      p {
        margin: 0;
        text-align: center;
        font-size: 13px;
        font-weight: 600;
        line-height: 16px;
      }

      p:last-of-type {
        margin-top: 8px;
        opacity: 0.6;
        font-size: 10px;
      }
    }
  }

  .jenkins-stageview__build {
    text-align: center;

    .jenkins-button {
      width: 100%;
      min-height: 60px;
      margin: 2px 0;
      font-size: 14px;
      font-weight: 600;
    }

    td {
      .jenkins-button {
        border-radius: 0;
      }
    }

    td:first-of-type {
      .jenkins-button {
        border-radius: 10px;
      }
    }

    td:nth-of-type(2) {
      padding-left: 2.5px;

      .jenkins-button {
        border-radius: 10px 0 0 10px;
      }
    }

    td:last-of-type {
      padding-right: 2.5px;

      .jenkins-button {
        border-radius: 0 10px 10px 0;
      }
    }
  }

  .jenkins-build-history__item {
    margin-right: 1rem;
    min-width: 400px;
    padding: 0.25rem;

    &::before {
      inset: -6.5px -5px -6.5px -5px;
      border-radius: 10px;
    }

    .jenkins-build-history__item__link__details {
      align-items: flex-start;
      text-align: left;
    }

    .jenkins-button {
      min-height: 30px;
    }
  }
}

.app-graphview {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;
  height: 100%;
  margin-top: -50px;
  z-index: 0;

  &::before {
    content: "";
    position: absolute;
    top: calc(50% + 20px);
    bottom: calc(50% - 24px);
    left: 50px;
    right: 50px;
    background: color-mix(in srgb, var(--color-secondary) 25%, transparent);
    z-index: -1;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    p {
      font-size: 0.9rem;
      font-weight: 500;
    }

    div {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      z-index: 0;

      &::before, &::after {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 100%;
      }

      &::before {
        background: var(--card-background);
        z-index: -1;
      }

      &::after {
        background: var(--card-background);
        z-index: 0;
      }

      &:not(:has(svg)) {
        width: 20px;
        height: 20px;
        margin-block: 5px;

        &::after {
          background: color-mix(in srgb, var(--color-secondary) 25%, transparent);
        }
      }

      &:has(svg) {
        width: 30px;
        height: 30px;

        &::after {
          background: color-mix(in srgb, var(--green) 25%, transparent);
        }

        span {
          display: contents;
        }

        svg {
          color: var(--green) !important;
          width: 18px !important;
          height: 18px !important;

          * {
            stroke-width: 50px;
          }
        }
      }
    }
  }
}
