.themes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.theme {
  display: flex;
  align-items: center;
  flex-direction: column;

  & > div {
    width: 100%;
    aspect-ratio: 16 / 9;
    background: var(--color-secondary);
    border-radius: 10px;
    opacity: 0.25;
  }
}

.plugin-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  border-bottom: 2px solid transparent;

  &:hover {
    text-decoration: none;
    border-bottom: 2px solid currentColor;
  }

  span {
    margin-left: 0.5ch;
    margin-right: 0.4ch;
  }

  span, svg {
    width: 1rem !important;
    height: 1rem !important;
    color: inherit !important;
    fill: currentColor !important;

    * {
      stroke-width: 50px;
    }
  }
}
