.jenkins-build__terminal-card {
  max-height: 400px;
  background: black;
  color: white;

  code {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-family: ui-monospace, source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    overflow: scroll;
    white-space: pre-line;
    padding: 56px 20px 20px 20px;
    line-height: 1.8;
  }

  .jenkins-cards__item__title__actions {
    svg {
      color: white !important;
    }
  }
}

.jenkins-card-big-link {
  display: flex;
  color: var(--link-color);
  margin-bottom: 15px;
  font-weight: 600 !important;
}

.app-details__item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 0 15px;

  span {
    display: contents;
  }

  svg {
    color: currentColor !important;
    width: 16px;
    height: 16px;
  }
}
