.jenkins-build__terminal-card {
  max-height: 400px;
  background: black;
  color: var(--white);
  color-scheme: light;

  code {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-family: ui-monospace, source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    overflow: scroll;
    white-space: pre-line;
    padding: 56px 20px 20px 20px;
    line-height: 1.8;
  }
}

.console-code {
  font-size: 1rem;
  font-family: ui-monospace, source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  overflow: scroll;
  white-space: pre-line;
  line-height: 1.8;
  color: var(--white);

  p {
    display: grid;
    grid-template-columns: 2ch 1fr;
    margin: 0;
    gap: 2ch;

    span {
      text-align: right;
      color: var(--color-secondary);
    }
  }
}

.jenkins-card-big-link {
  display: flex;
  color: var(--link-color);
  margin-bottom: 15px;
  font-weight: 600 !important;
}

.app-details__item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 0 15px;

  & > span {
    display: contents;

    svg {
      color: currentColor !important;
      width: 1.6rem;
      height: 1.6rem;
    }
  }
}
