.iamsidebar {
  display: grid;
  grid-template-columns: 340px 1fr;
  grid-gap: var(--card-gap);
}

.sidebar-item {
  .jenkins-cards__item {
    margin-bottom: var(--card-gap);
  }
}

iframe {
  display: none;
}
