.app-project-links {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.app-project-link {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  text-decoration: none;
  padding: 1rem;
  border-radius: 15px;

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }

    span, svg {
      width: 2rem !important;
      height: 2rem !important;

      * {
        color: var(--foreground-color);
      }
    }
  }

  &__text {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;

    p {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      margin: 0;

      &:first-of-type {
        color: var(--foreground-color);
        font-weight: 500;
      }

      &:last-of-type {
        color: var(--color-secondary);
        line-height: 1.5;
      }

      span, svg {
        width: 1.5ch !important;
        height: 1.5ch !important;

        * {
          color: currentColor;
        }
      }
    }
  }

  &:hover {
    background: var(--button-background-color);
  }
}

path:not([stroke]):not([fill]) {
  fill: currentColor;
}
