.app-people {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1rem;
  list-style-type: none;
  padding: 0;
  margin: 0;

  &__item {
    position: relative;

    a {
      display: flex;
      align-items: center;
      gap: 1.25rem;
      padding: 1.15rem 1.25rem;
      margin: 0;
      background: var(--card-background);
      mask-border-source: url("data:image/svg+xml,%3Csvg width='45' height='45' viewBox='0 0 45 45' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 22.5C0 15.5109 0 12.0163 1.14181 9.25975C2.66422 5.58433 5.58433 2.66422 9.25975 1.14181C12.0163 0 15.5109 0 22.5 0C29.4891 0 32.9837 0 35.7402 1.14181C39.4157 2.66422 42.3358 5.58433 43.8582 9.25975C45 12.0163 45 15.5109 45 22.5C45 29.4891 45 32.9837 43.8582 35.7402C42.3358 39.4157 39.4157 42.3358 35.7402 43.8582C32.9837 45 29.4891 45 22.5 45C15.5109 45 12.0163 45 9.25975 43.8582C5.58433 42.3358 2.66422 39.4157 1.14181 35.7402C0 32.9837 0 29.4891 0 22.5Z' fill='%23D9D9D9'/%3E%3C/svg%3E%0A");
      mask-border-slice: 49% fill;
      color: var(--foreground-color);
      text-decoration: none !important;
      overflow: hidden;
      transition: 0.3s ease;
      z-index: 0;

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: -1;
        background: var(--color-secondary);
        opacity: 0;
        transition: 0.3s ease;
      }

      div {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.6rem;
        height: 2.6rem;
        background: red;
        border-radius: 100vmax;
        font-weight: 600;
        font-size: 1.1rem;
        flex-shrink: 0;
        z-index: 0;

        &::before,
        &::after {
          content: "";
          position: absolute;
          inset: 0;
          mix-blend-mode: overlay;
          border-radius: inherit;
          z-index: -1;
        }

        &::before {
          background: radial-gradient(var(--background-color), transparent);
        }

        &::after {
          border: 1px solid currentColor;
          opacity: 0.125;
        }

        span {
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          z-index: 1;
        }
      }

      p {
        margin: 0;
        font-weight: 500;
        font-size: 0.95rem;
        word-wrap: break-word;
        flex-grow: 1;
      }
    }

    button {
      position: absolute;
      top: 19px;
      right: 5px;
      z-index: 1;
      background: transparent !important;
      color: var(--color-secondary);
    }

    &:hover {
      a {
        &::before {
          opacity: 0.1;
        }
      }

      button {
        color: currentColor;
      }
    }

    &:active,
    &:focus {
      a {
        &::before {
          opacity: 0.2;
        }
      }
    }
  }
}

.person-profile {
  display: grid;
  grid-template-columns: 360px 1fr;
  grid-gap: 1rem;
}

.avatar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.4rem;
  height: 3.4rem;
  background: red;
  border-radius: 100vmax;
  font-weight: 600;
  font-size: 1.4rem;
  flex-shrink: 0;
  overflow: hidden;
  z-index: 0;
  margin-right: 1rem;

  &::before,
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    mix-blend-mode: overlay;
    border-radius: inherit;
    z-index: -1;
  }

  &::before {
    background: inherit;
    animation: rotate-bg 10s infinite linear;

    @keyframes rotate-bg {
      0% {
        rotate: 0deg;
      }
      100% {
        rotate: 360deg;
      }
    }
  }

  &::after {
    background: radial-gradient(var(--background-color), transparent);
  }

  span {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 10;
  }
}
