$ps-gap: 2rem;

.ps-body {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: $ps-gap;

  h1 {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .jenkins-form-item {
    max-width: 600px;
  }
}

.ps-nav {
  margin-left: 2rem;

  .ps-sidebar {
    display: grid;
    grid-template-columns: auto 360px;
    gap: $ps-gap;

    .ps-first-sidebar {
      .ps-item {
        align-items: center !important;
        justify-content: center !important;
        aspect-ratio: 1;
        padding: 1rem;
        width: 100px !important;
        height: 80px !important;
        text-align: center;
        font-size: 12px;
        gap: 0.3rem;
        margin-left: 30px;
        color: var(--color-secondary) !important;

        svg {
          width: 1.25rem;
          height: 1.25rem;
          color: var(--foreground-color);

          * {
            stroke-width: 40px;
          }
        }
      }
    }

    .ps-second-sidebar {
      margin-bottom: 100px;

      .ps-item {
        gap: 0.6rem;
        padding: 0.9rem 1.15rem !important;
        align-items: flex-start !important;
        margin-left: 0.3rem;

        span:last-of-type {
          color: var(--color-secondary);
          line-height: 1.5;
        }
      }
    }
  }
}

.ps-item {
  display: flex;
  flex-direction: column;
  margin: 0 0 2px 0 !important;

  &::before, &::after {
    inset: 0 !important;
  }
}

.ps-code {
  border-radius: 10px;
  height: 260px;
  background: color-mix(in srgb, var(--color-secondary) 15%, transparent);
  margin-right: 20px;
  margin-bottom: 2rem;
  padding: 1rem;
  color: var(--foreground-color) !important;
  font-family: ui-monospace;
}
