.tool-description {
  font-size: var(--font-5);
  margin-bottom: 2rem;
  line-height: 1.66;
  max-width: 80ch;
  color: var(--color-secondary);
  margin-top: -10px;
}

.tool-host {
  h2 {
    display: flex;
    align-items: center;
    cursor: pointer;

    span {
      display: contents;
    }

    svg {
      color: var(--color-secondary) !important;
      margin-left: 7px;
      scale: 0.8;
      opacity: 0.5;
      transition: opacity 0.2s ease;
    }

    &:hover {
      svg {
        opacity: 1;
      }
    }
  }
}

.tools-row {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.tool-row {
  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: start;
  justify-content: start;

  padding: 1rem 1.1rem;
  border: 2px solid var(--card-border);
  background: var(--card-background);
  border-radius: 4px;
  font-size: var(--font-6);
  font-weight: 500;
  text-align: left;
  cursor: pointer;

  &:first-child {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }

  &:last-child {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }

  span:not(:first-of-type) {
    color: var(--color-secondary);
  }
}
