:root {
  --accent-color: hsl(212, 100%, 42%);

  --background-color: hsl(212, 20%, 99.5%);

  --foreground-color: hsl(212, 100%, 5%);

  --color-secondary: hsl(212, 20%, 50%);

  --border-color: rgba(0, 0, 0, 0.1);

  // Card
  --card-background: var(--table-background-color);
  --card-gap: 1rem;

  // Table
  --table-background-color: hsl(212, 30%, 96%);
  --table-body-background: var(--background-color);

  --table-header-foreground: var(--foreground-color);
  --table-body-foreground: var(--foreground-color);
  --table-border-radius: 10px;
  --table-row-border-radius: 4px;

  // Root
  --button-background-color: hsl(212, 13%, 90%);
  --button-background-color-hover: hsl(212, 13%, 80%);
  --button-background-color-active: hsl(212, 13%, 72%);
  --button-foreground-color: var(--foreground-color);
  --button-foreground-color-hover: black;
  --button-foreground-color-active: black;

  // Link
  --link-color: hsl(212, 100%, 42%);
  --link-color-hover: hsl(212, 100%, 30%);
  --link-color-active: hsl(212, 100%, 20%);

  // Nav bar
  --nav-background-color: hsl(212, 20%, 5%);
  --nav-foreground-color: hsl(255, 20%, 95%);
  --nav-item-hover: hsl(212, 20%, 15%);
  --nav-item-active: hsl(212, 20%, 20%);
  --nav-item-selected: hsl(212, 20%, 15%);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    $hue: 0;

    --accent-color: hsl(225, 100%, 70%);
    --background-color: hsl(230, 15%, 5%);

    --foreground-color: hsl(230, 15%, 90%);
    --color-secondary: hsl(230, 15%, 55%);

    --overlap-color: hsl(230, 15%, 7%);

    // Card
    --card-background: var(--overlap-color);

    // Table
    --table-background-color: var(--overlap-color);
    --table-body-background: var(--background-color);

    // Root
    --button-background-color: var(--overlap-color);
    --button-background-color-hover: hsl(230, 13%, 20%);
    --button-background-color-active: hsl(230, 13%, 20%);

    // Link
    --link-color: var(--accent-color);
    --link-color-hover: #2165d2;
    --link-color-active: #12489d;

    // Nav bar
    --nav-background-color: var(--overlap-color);
    --nav-foreground-color: var(--foreground-color);
    --nav-item-hover: hsl(230, 15%, 16%);
    --nav-item-active: hsl(230, 15%, 18%);
    --nav-item-selected: hsl(230, 15%, 12%);
  }
}

@import "components/_app-bar";
@import "components/_button";
@import "components/_breadcrumbs";
@import "components/_build-history";
@import "components/_cards";
@import "components/_link";
@import "components/_search";
@import "components/_stageview";
@import "components/_status";
@import "components/_table";
@import "components/_tabs";

@import "components/panels/_favorites";
@import "components/panels/_search";
@import "components/panels/_theme-switcher";

@import "pages/_build";
@import "pages/_dashboard";
@import "pages/_new-project";
@import "pages/_plugin-manager";
@import "pages/_project";

html {
  font-size: 15px;
  letter-spacing: -.016em;
  font-family: system-ui, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
  background: var(--background-color);
}

body {
  margin: 0;
  color: var(--foreground-color);
  background: var(--background-color);
}

* {
  box-sizing: border-box;
}

.App {
  display: grid;
  grid-template-columns: auto 1fr;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: var(--background-color);
  
  @media screen and (max-width: 1000px) {
    display: block;
    width: unset;
    height: unset;
    overflow: unset;
  }
}

.jenkins-mobile-hide {
  @media screen and (max-width: 1000px) {
    display: none;
  }
}

.jenkins-mobile-nav {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--nav-background-color);
  padding: 1.15rem 1.5rem;
  z-index: 1;
  box-shadow: 0 -1px 5px rgba(black, 0.3);

  @media screen and (min-width: 1001px) {
    display: none;
  }

  a {
    font-family: "Georgia", "sans-serif";
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
    color: var(--nav-foreground-color);
    text-decoration: none;
  }

  span {
    display: contents;
  }

  span:first-of-type svg {
    width: 1.5rem !important;
    height: 1.5rem !important;
  }

  span, svg {
    width: 1.2rem !important;
    height: 1.2rem !important;
    color: var(--nav-foreground-color) !important;

    * {
      stroke-width: 40px;
    }
  }
}

.jenkins-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: var(--nav-background-color);

  @media screen and (max-width: 1000px) {
    display: none;
  }

  &__item {
    position: relative;
    outline: none;
    appearance: none;
    border: none;
    background: none;
    margin: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    z-index: 0;
    cursor: pointer;
    transition: 0.2s ease;
    opacity: 0.85;
    padding: 1rem;

    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      span, svg {
        width: 1.2rem;
        height: 1.2rem;
        fill: var(--nav-foreground-color) !important;
        color: var(--nav-foreground-color)!important;
      }
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: transparent;
      border-radius: 14px;
      pointer-events: none;
      z-index: -1;
      transition: 0.2s ease;
    }

    &:hover::before {
      background: var(--nav-item-hover);
    }

    &:active {
      transform: scale(0.9);

      &::before {
        background: var(--nav-item-active);
      }
    }

    &--selected {
      opacity: 1;

      * {
        stroke-width: 42px;
      }

      &::before {
        inset: -2px;
      }

      &::before {
        background: var(--nav-item-selected);
      }
    }
  }
}

.jenkins-container {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;

  @media screen and (max-width: 1000px) {
    height: unset;
    overflow: unset;
  }
}

h1 {
  font-size: 1.8rem;
  font-weight: 800;
  margin: 0;

  @media screen and (max-width: 1000px) {
    font-size: 1.5rem;
  }
}

.jenkins-sidebar {
  position: relative;
  max-width: 360px;
  height: 100vh;

  &__heading {
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 40px 30px 15px 30px;
    opacity: 0.6;
  }

  &__item {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.75rem;
    margin: 0 20px 0.75rem 20px;
    padding: 0.45rem 0.65rem;
    font-weight: 550;
    font-size: 0.9rem;
    z-index: 0;
    cursor: pointer;
    transition: 0.2s ease;

    &__icon {
      display: contents;

      span {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      span, svg {
        width: 1.3rem;
        height: 1.3rem;
        color: var(--button-foreground-color) !important;
        fill: var(--button-foreground-color) !important;
      }
    }

    &::before {
      content: "";
      position: absolute;
      inset: -0.3rem -0.2rem;
      background: transparent;
      border-radius: 10px;
      pointer-events: none;
      z-index: -1;
      transition: 0.2s ease;
      opacity: 0.25;
    }

    &:hover::before {
      background: var(--button-background-color-hover);
    }

    &:active {
      &::before {
        background: var(--button-background-color-active);
      }
    }

    &--selected::before {
      background: var(--button-background-color-active);
    }
  }
}

.jenkins-body {
  padding: 4rem 2rem 2rem 2rem;

  @media screen and (max-width: 1000px) {
    padding: 3rem 1rem 6.5rem 1rem;
  }

  &--sidebar {
    display: grid;
    grid-template-columns: 350px 1fr;
    padding: 2rem 0 0 0;
  }

  &--inner {
    padding: 0 30px 30px 30px;
  }
}
