:root {
  --accent-color: blue;

  --background-color: hsl(255, 13%, 97%);

  --foreground-color: hsl(255, 13%, 20%);

  --border-color: rgba(0, 0, 0, 0.1);

  // Card
  --card-background: white;
  --card-gap: 10px;

  // Table
  --table-background-color: white;
  --table-header-foreground: var(--foreground-color);
  --table-body-background: white;
  --table-body-foreground: var(--foreground-color);
  --table-border-radius: 10px;
  --table-row-border-radius: 4px;

  // Root
  --button-background-color: hsl(255, 13%, 90%);
  --button-background-color-hover: hsl(255, 13%, 80%);
  --button-background-color-active: hsl(255, 13%, 72%);
  --button-foreground-color: var(--foreground-color);
  --button-foreground-color-hover: black;
  --button-foreground-color-active: black;

  // Link
  --link-color: #105591;
  --link-color-hover: #083a65;
  --link-color-active: #032746;

  // Nav bar
  --nav-background-color: hsl(255, 13%, 15%);
  --nav-foreground-color: hsl(255, 13%, 95%);
  --nav-item-hover: hsl(255, 13%, 25%);
  --nav-item-active: hsl(255, 13%, 35%);
  --nav-item-selected: hsl(255, 13%, 30%);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    --accent-color: hsl(220, 100%, 70%);
    --background-color: hsl(240, 13%, 6%);

    --foreground-color: hsl(240, 13%, 90%);

    --border-color: rgba(255, 255, 255, 0.1);

    --overlap-color: #14141A;

    // Card
    --card-background: var(--overlap-color);

    // Table
    --table-background-color: var(--overlap-color);
    --table-body-background: #111116;

    // Root
    --button-background-color: var(--overlap-color);
    --button-background-color-hover: hsl(240, 13%, 20%);
    --button-background-color-active: hsl(240, 13%, 20%);

    // Link
    --link-color: var(--accent-color);
    --link-color-hover: #2165d2;
    --link-color-active: #12489d;

    // Nav bar
    --nav-background-color: hsl(240, 13%, 8%);
    --nav-foreground-color: var(--foreground-color);
    --nav-item-hover: hsl(240, 13%, 12%);
    --nav-item-active: hsl(240, 13%, 18%);
    --nav-item-selected: hsl(240, 13%, 15%);
  }
}

@import "components/_app-bar";
@import "components/_button";
@import "components/_breadcrumbs";
@import "components/_build-history";
@import "components/_cards";
@import "components/_link";
@import "components/_search";
@import "components/_stageview";
@import "components/_status";
@import "components/_table";
@import "components/_tabs";

@import "components/panels/_favorites";
@import "components/panels/_search";
@import "components/panels/_theme-switcher";

@import "pages/_build";
@import "pages/_dashboard";
@import "pages/_project";

body {
  margin: 0;
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  // 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  // sans-serif;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -.01em;
  font-size: 14px;
  font-weight: 500;
  color: var(--foreground-color);
}

* {
  box-sizing: border-box;
}

.App {
  display: grid;
  grid-template-columns: auto 1fr;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: var(--background-color);
}

.jenkins-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--nav-background-color);

  &__item {
    position: relative;
    outline: none;
    appearance: none;
    border: none;
    background: none;
    width: 42px;
    height: 42px;
    margin: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    z-index: 0;
    cursor: pointer;
    transition: 0.2s ease;
    padding: 0;

    &--logo {
      svg:last-of-type {
        display: none;
      }
      span, svg {
        width: 32px!important;
        height: 32px!important;
        margin-left: 0.5px;
      }
    }
    &--logo.jenkins-nav__item--selected {
      svg:first-of-type {
        display: none;
      }
      svg:last-of-type {
        display: flex;
      }
    }

    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 36px;
      height: 36px;

      span {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      span, svg {
        width: 20px;
        height: 20px;
        fill: var(--nav-foreground-color) !important;
        color: var(--nav-foreground-color)!important;

        * {
          stroke-width: 40px;
        }
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: -5px;
      left: -5px;
      right: -5px;
      bottom: -5px;
      background: transparent;
      border-radius: 100px;
      pointer-events: none;
      z-index: -1;
      transition: 0.2s ease;
    }

    &:hover::before {
      background: var(--nav-item-hover);
    }

    &:active {
      transform: scale(0.9);

      &::before {
        background: var(--nav-item-active);
      }
    }

    &--selected::before {
      background: var(--nav-item-selected);
    }
  }
}

.jenkins-container {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

h1 {
  font-size: 26px;
  font-weight: 700;
  margin: 0;
}

.jenkins-sidebar {
  position: relative;
  max-width: 360px;
  height: 100vh;

  &__heading {
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 40px 30px 15px 30px;
    opacity: 0.6;
  }

  &__item {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 20px 15px 20px;
    padding: 0 10px;
    font-weight: 600;
    z-index: 0;
    cursor: pointer;
    transition: 0.2s ease;

    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 36px;
      height: 36px;
      border-radius: 100px;
      margin-right: 15px;
      background: var(--button-background-color);

      span {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      span, svg {
        width: 20px;
        height: 20px;
        color: var(--button-foreground-color) !important;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: -7.5px;
      left: 2.5px;
      right: 2.5px;
      bottom: -7.5px;
      background: transparent;
      border-radius: 10px;
      pointer-events: none;
      z-index: -1;
      transition: 0.2s ease;
    }

    &:hover::before {
      background: var(--button-background-color-hover);
    }

    &:active {
      transform: scale(0.975);

      &::before {
        background: var(--button-background-color-active);
      }
    }

    &--selected::before {
      background: var(--button-background-color-hover);
    }
  }
}

.jenkins-body {
  padding: 60px 30px 30px 30px;

  &--sidebar {
    display: grid;
    grid-template-columns: 350px 1fr;
    padding: 30px 0 0 0;
  }

  &--inner {
    padding: 0 30px 30px 30px;
  }
}
