[data-theme="light"], body {
  --accent-color: hsl(212, 100%, 42%);

  --background-color: hsl(212, 20%, 99.5%);

  --foreground-color: hsl(212, 100%, 10%);

  --color-secondary: hsl(212, 25%, 50%);

  --border-color: rgba(0, 0, 0, 0.1);

  // Card
  --card-background: hsl(212, 40%, 100%);
  --card-border: hsl(212, 40%, 96%);
  --card-gap: 1rem;

  // Color
  --white: #fff;

  --blue: #007aff;
  --brown: #a2845e;
  --cyan: #32ade6;
  --green: #1ea64b;
  --indigo: #5856d6;
  --orange: #f97d44;
  --pink: #fb0f45;
  --purple: #af52de;
  --red: #e6001f;
  --yellow: hsl(40, 100%, 55%);

  --green-subtle: hsla(130, 59%, 47%, 15%);
  --red-subtle: hsla(359, 97%, 56%, 15%);

  // Table
  --table-background-color: hsl(212, 40%, 97%);
  --table-body-background: var(--background-color);

  --table-header-foreground: var(--foreground-color);
  --table-body-foreground: var(--foreground-color);
  --table-border-radius: 10px;
  --table-row-border-radius: 4px;

  // Root
  --button-background-color: var(--table-background-color);
  --button-background-color-hover: hsl(212, 25%, 82.5%);
  --button-background-color-active: hsl(212, 25%, 72.5%);
  --button-foreground-color: var(--foreground-color);
  --button-foreground-color-hover: black;
  --button-foreground-color-active: black;

  // Branding
  --focus-input-border: #063f61;

  // Link
  --link-color: hsl(212, 100%, 42%);
  --link-color-hover: hsl(212, 100%, 30%);
  --link-color-active: hsl(212, 100%, 20%);

  // Nav bar
  --nav-background-color: hsl(212, 20%, 5%);
  --nav-foreground-color: hsl(255, 20%, 95%);
  --nav-item-hover: hsl(212, 20%, 15%);
  --nav-item-active: hsl(212, 20%, 20%);
  --nav-item-selected: hsl(212, 20%, 15%);

  // Form
  --section-padding: 1.85rem;
  --form-item-max-width: "min(65vw, 1600px)";
  --input-color: hsl(212, 30%, 97.5%);
  --input-border: hsl(212, 30%, 90%);
  --input-border-hover: hsl(212, 30%, 80%);
  --form-input-padding: 0.65rem;
  --form-input-border-radius: 10px;
  --form-input-glow: 0 0 0 10px transparent;
  --form-input-glow--focus: 0 0 0 5px var(--focus-input-glow);

  // Animations
  --standard-transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  // Fonts
  --font-1: 1.6rem;
  --font-2: 1.4rem;
  --font-3: 1.3rem;
  --font-4: 1.2rem;
  --font-5: 1.1rem;
  --font-6: 1rem;
}

@mixin dark-theme {
  color-scheme: dark;

  $hue: 0;

  --accent-color: hsl(220, 100%, 65%);
  --background-color: hsl(230, 15%, 5%);

  --foreground-color: hsl(230, 15%, 90%);
  --color-secondary: hsl(230, 15%, 55%);

  --overlap-color: hsl(230, 15%, 8%);

  // Branding
  --focus-input-border: #4bbeff;

  // Card
  --card-background: var(--overlap-color);
  --card-border: hsl(230, 15%, 8.25%);

  // Colors
  --blue: hsl(210, 100%, 55%);
  --brown: hsl(30, 35%, 45%);
  //--cyan: hsl(200, 100%, 70%);
  --green: hsl(135, 75%, 55%);
  --indigo: hsl(250, 75%, 60%);
  //--orange: hsl(35, 100%, 50%);
  --pink: hsl(350, 100%, 60%);
  --purple: hsl(280, 85%, 60%);
  --red: hsl(5, 100%, 60%);
  //--yellow: hsl(39, 100%, 60%);

  --white: hsl(230, 13%, 20%);

  --green-subtle: hsla(129, 63%, 49%, 15%);
  --red-subtle: hsla(0, 97%, 58%, 15%);

  // Form
  --focus-input-glow: rgba(43, 116, 160, 0.4);

  // Table
  --table-background-color: var(--card-background);
  --table-body-background: hsl(230, 15%, 5.5%);

  // Root
  --button-background-color: var(--overlap-color);
  --button-background-color-hover: hsl(230, 13%, 20%);
  --button-background-color-active: hsl(230, 13%, 20%);

  // Form
  --input-color: hsl(230, 13%, 10%);
  --input-border: hsl(230, 13%, 20%);
  --input-border-hover: hsl(230, 13%, 30%);
  --form-input-glow: 0 0 0 10px transparent;
  --form-input-glow--focus: 0 0 0 5px var(--focus-input-glow);

  // Link
  --link-color: var(--accent-color);
  --link-color-hover: hsl(220, 100%, 72.5%);
  --link-color-active: hsl(220, 100%, 80%);

  // Nav bar
  --nav-background-color: var(--overlap-color);
  --nav-foreground-color: var(--foreground-color);
  --nav-item-hover: hsl(230, 15%, 16%);
  --nav-item-active: hsl(230, 15%, 18%);
  --nav-item-selected: hsl(230, 15%, 12%);
}

[data-theme="dark"] {
  @include dark-theme;
}

@media (prefers-color-scheme: dark) {
  body {
    @include dark-theme;
  }
}

@import "components/_app-bar";
@import "components/avatar";
@import "components/back-link";
@import "components/_button";
@import "components/_breadcrumbs";
@import "components/_build-history";
@import "components/_cards";
@import "components/dropdown-menu";
@import "components/input";
@import "components/layout";
@import "components/_link";
@import "components/_search";
@import "components/_spinner";
@import "components/_stageview";
@import "components/_status";
@import "components/_table";
@import "components/_tabs";
@import "components/tooltips";
@import "components/nav-bar";

@import "components/panels/_favorites";
@import "components/panels/_search";
@import "components/panels/_theme-switcher";

@import "pages/_appearance";
@import "pages/_build";
@import "pages/build/console";
@import "pages/_dashboard";
@import "pages/_new-project";
@import "pages/people";
@import "pages/_plugin-manager";
@import "pages/_project";

html {
  font-size: 15px;
  letter-spacing: -.016em;
  font-family: system-ui, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background-color);
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  color: var(--foreground-color);
  background: var(--background-color);
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.App {
  display: grid;
  grid-template-columns: auto 1fr;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: var(--background-color);

  @media screen and (max-width: 768px) {
    display: block;
    width: unset;
    height: unset;
    overflow: unset;
  }
}

.jenkins-mobile-hide {
  @media screen and (max-width: 768px) {
    display: none !important;
  }
}

.jenkins-container {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;

  & > .jenkins-body {
    max-width: min(92vw, 2000px);
    margin: 0 auto;
  }

  @media screen and (max-width: 768px) {
    height: unset;
    overflow: unset;

    & > .jenkins-body {
      max-width: unset;
      margin: 0 auto;
    }
  }
}

h1 {
  font-size: var(--font-1);
  font-weight: 650;
  margin: 0;
  letter-spacing: unset;
  color: var(--foreground-color);

  @media screen and (max-width: 768px) {
    font-size: 1.5rem;
  }
}

.jenkins-sidebar {
  position: relative;
  min-height: 100vh;
  margin-bottom: 2rem;

  &__heading {
    font-size: var(--font-6);
    font-weight: 600;
    margin: 30px 30px 15px 30px;
    color: var(--color-secondary);
  }

  &__item {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.6rem;
    margin: 0 0 2px 20px;
    padding: 0.675rem 0.65rem;
    font-weight: 450;
    -webkit-font-smoothing: subpixel-antialiased;
    font-size: 0.9rem;
    z-index: 0;
    cursor: pointer;
    transition: 0.2s ease;
    color: var(--foreground-color) !important;
    text-decoration: none;

    &__icon {
      display: contents;

      span {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      span, svg {
        width: 1.2666666667rem;
        height: 1.2666666667rem;
        color: inherit !important;
        fill: currentColor !important;
      }
    }

    .external {
      span, svg {
        margin-left: auto;
        width: 1rem;
        height: 1rem;
        color: var(--color-secondary) !important;
        fill: currentColor !important;
      }
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0 -0.3rem;
      background: transparent;
      border-radius: 10px;
      pointer-events: none;
      z-index: -1;
      transition: 0.2s ease;
      opacity: 0.15;
    }

    &:hover::before {
      background: var(--color-secondary);
    }

    &:active {
      &::before {
        background: var(--button-background-color-active);
      }
    }

    &--selected::before {
      background: var(--color-secondary);
    }
  }
}

.jenkins-body {
  padding-top: calc(env(safe-area-inset-top) + 4rem);
  padding-left: 2rem;
  padding-right: calc(env(safe-area-inset-right) + 2rem);
  padding-bottom: calc(env(safe-area-inset-bottom) + 2rem);

  @media screen and (max-width: 768px) {
    padding-top: calc(env(safe-area-inset-top) + 2rem);
    padding-left: calc(env(safe-area-inset-left) + 1rem);
    padding-right: calc(env(safe-area-inset-right) + 1rem);
    padding-bottom: calc(env(safe-area-inset-bottom) + 5.5rem);
  }

  &--sidebar {
    display: grid;
    grid-template-columns: 300px 1fr;
    padding: 2rem 0 0 0;
  }

  &--inner {
    padding: 0 2rem 2rem 3rem;
  }
}

.keyboard-tooltip {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.keyboard-shortcut {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  padding: 0 0.3rem;
  letter-spacing: 1px;
  margin-right: -0.1rem;

  &::before {
    content: "";
    position: absolute;
    inset: -0.1rem 0;
    background: currentColor;
    opacity: 0.1;
    border-radius: 5px;
    mix-blend-mode: overlay;
  }

  &::after {
    content: "";
    position: absolute;
    inset: -0.1rem 0;
    border: 1px solid currentColor;
    opacity: 0.25;
    border-radius: 5px;
    mix-blend-mode: overlay;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  }
}
